.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0); /* Hier kannst du die Transparenz einstellen */
    color: grey;
    justify-content: space-between; /* Platzierung der Elemente am Anfang und Ende der Navbar */
    align-items: center; 
    padding: 10px; 

    .navbar-mobile {
      flex-basis: content;
    }
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
  }

  .navbar div {
    width: 33%;
  }
  
  .navbar span {
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar span:hover {
    background-color: #a5b4fc;
    color: white; 
  }
  
  /* Stil für mobile Ansicht */
  .mat-icon-button {
    color: white;
  }