<div class="flex flex-row h-full bg-gradient-to-r from-sky-300 to-indigo-300">
    <div class="logo">
        <img id="logo" src="assets/images/logo.png" alt="Logo">
    </div>

    <div class="flex flex-col">

        <div class="text-6xl text-left pl-14 pt-24 font-extrabold">Curriculum Vitae</div>

        <div class="flex flex-row h-full">
            <div class="self-center w-7/12">

                <div class="p-10 pt-0 items-end w-full flex flex-col">
                    <div
                        class="w-11/12 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">Master of Science Informatik</span>
                        <span class="text-lg text-gray-600">Specialization: IT-Security</span>
                        <span class="text-xl">University of applied Science Ravensburg / Weingarten</span>
                        <span class="text-lg text-gray-600">09.2022 - now</span>
                    </div>

                    <div
                        class="w-11/12 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">Bachelor of Science Informatik</span>
                        <span class="text-lg text-gray-600">Specialization: IT-Security & Business Administration</span>
                        <span class="text-xl">University of applied Science Ulm</span>
                        <span class="text-lg text-gray-600">09.2018 - 04.2022</span>
                    </div>

                    <div
                        class="w-11/12 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">Fachhochschulreife Wirtschaftsinformatik</span>
                        <span class="text-xl">Berufliches Schulzentrum Wangen</span>
                        <span class="text-lg text-gray-600">09.2016 - 07.2018</span>
                    </div>
                </div>
            </div>

            <div class="vertical-line"></div>

            <div class="w-4/6 self-center">
                <div class="p-10 pt-40 items-start w-full flex flex-col">
                    <div
                        class="w-4/6 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">Full-Stack Developer - Working student</span>
                        <span class="text-xl">ACTICO GmbH</span>
                        <span class="text-lg text-gray-600">06.2022 - now</span>
                    </div>
                    <div
                        class="w-4/6 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">IT-Security Analyst - Student Internship</span>
                        <span class="text-xl">MOGWAI LABS GmbH</span>
                        <span class="text-lg text-gray-600">05.2021 - 09.2021</span>
                    </div>
                    <div
                        class="w-4/6 m-2 pt-2 pb-2 pl-12 pr-8 box-content bg-gray-200  border-4 rounded-full flex flex-col w-4/6">
                        <span class="text-2xl font-bold">Informatics Student Internship </span>
                        <span class="text-xl">Cooper Standard GmbH</span>
                        <span class="text-lg text-gray-600">07.2014 - 07.2014</span>
                    </div>
                </div>
            </div>
        </div>
    </div>