<div class="flex flex-row h-full bg-gradient-to-r from-sky-300 to-indigo-300">
    <div class="logo">
        <img id="logo" src="assets/images/logo.png" alt="Logo">
    </div>
  
    <div class="self-center w-7/12">
        <div class="text-6xl text-right pr-10 font-extrabold">Moritz Nentwig</div>
        <div class="text-4xl text-right pr-10">Software Engineer & IT-Security Enthusiast</div>
        <div class="text-2xl text-right pr-10 text-gray-600">M.Nentwig98@web.de</div>
    </div>
  
    <div class="grow vertical-line"></div>
  
    <div class="flex flex-col justify-center items-center ml-auto w-2/5">
            <img id="pb" src="assets/images/ment.jpg" alt="Moritz Nentwig">    
            <div class="flex flex-row pt-12 self-center">
                <a href="https://www.linkedin.com/in/moritz-nentwig-262758224/"><img src="assets/images/linkedin.png" alt="LinkedIn" width="50" height="50"></a>
                <a href="https://github.com/Morn98/"><img src="assets/images/github.png" alt="GitHub" width="50" height="50"></a>
        </div>
    </div>
  </div>