/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
    max-width: 175px;
    max-height: 150px;
    margin: 40px;
}

.vertical-line {
    border-right: grey solid;
    width: 5px; 
    float: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}